@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --base-font-size: 18px;
    --h1-size: calc(var(--base-font-size) * 5);
    --h2-size: calc(var(--base-font-size) * 3);
    --h3-size: calc(var(--base-font-size) * 1.5);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--base-font-size);
}

body {
    background-color: black;
    color: white;
}

header {
    padding-top: 40px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

h1, h2 {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: var(--h1-size);
    text-align: center;
    margin: 0.5rem;
    color: rgb(125, 115, 170);
}

h2 {
    font-size: var(--h2-size);
    margin: 0.5rem;
    text-align: center;
}

h3 {
    font-size: var(--h3-size);
    margin: 0.5rem;
    text-align: center;
}

p {
    width: min(40rem, 100%);
    margin: 0.5rem;
}

a {
    word-wrap: break-word;
    color: rgb(125, 115, 170);
}

img {
    width: 40rem;
    margin: 1rem;
    border: solid 2px;
}

.infocontainer {
    width: min(1000px, 90%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.writtencontainer {
    width: min(2000px, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uisection {
    background-color: rgba(255, 255, 255, 0.15);
    width: 65%;
    margin: 20px;
    padding: 40px;
    filter: drop-shadow(0px 0px 40px #50108030);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wireframes {
    position: relative;
    width: 140%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0rem 1rem 1rem 1rem;
}

.wireframes > div {
    width: 45%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wireframes > div > p {
    text-align: center;
    width: 95%;
    margin: 0.2rem;
}

.wireframes > div > img {
    width: 95%;
}

@media (max-width: 1000px) {
    h1 {
        font-size: var(--h2-size);
    }
    .infocontainer {
        flex-direction: column;
    }
    .uisection {
        width: 85%;
    }
}